* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    overflow-x: hidden !important;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;

}

.logout {
    border: 1px solid #f0f0f0;
    padding: 6px 15px;
    background: transparent;
    border-radius: 5px;
}

.logout a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 34rem;
    top: 0;
    padding: 15px 35px;
    z-index: 1000;
    position: relative;
}
.fa-bars{
    position: absolute;
    right: 6rem;
}


nav img {
    width: 150px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav .links {
    /* flex: 1; */
 
    /* margin-left: 34rem; */
    text-align: right;

}

nav .links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;

}

nav .links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

nav .links ul li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #f44336;

    transition: 0.5s;
}

nav .links ul li:hover::after {
    width: 100%;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 90%;
    text-align: center;

}

.text-box h1 {
    font-size: 62px;
    text-transform: capitalize;

}

.text-box p {
    font-size: 14px;
    color: #fff;
    margin: 10px 0 40px;

}

.btn {

    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    background: transparent;
    font-size: 13px;
    border: 1px solid #fff;
    cursor: pointer;

}

.btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa-solid {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    nav .links ul li {
        display: block;
    }

    nav .links {

        background: #f44336;
        height: 100vh;
        width: 200px;
        position: absolute;
        top: 0;
        right: -2000px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }

    nav .fa-solid {

        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

}

/* ----------------corse------------------- */
.course {
    text-align: center;
    padding-top: 100px;
    margin: auto;
    width: 80%;
    text-transform: capitalize;

    /* mesh fahmaaaaa */


}

h1 {
    font-size: 36px;
    font-weight: 600;

}

p {

    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;

}

.raw {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.course-col {
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    flex-basis: 31%;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    /* mesh fahma */
}

@media(max-width: 700px) {
    .raw {
        flex-direction: column;
    }
}

/* ------------------------------camous-------------------------------- */
.campus {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 80%;
    text-transform: capitalize;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    overflow: hidden;
    /* ashan elborder radius ypan */
    margin-bottom: 30px;
    position: relative;
}

.campus-col img {
    width: 100%;
    display: block;
    /* -----mesh fahma------ */
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    transition: 0.5s;
    text-transform: capitalize;

}

.layer:hover {
    background: rgba(226, 0, 0, 0.6);
}

.layer h3 {
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    /* width: 100%; */
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* 
---------------------------our facilty------------------------------------ */
.facilities {
    text-align: center;
    width: 80%;
    padding-top: 100px;
    margin: auto;
    /* mesh fahmaaa */
}

.facility-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}

.facility-col img {
    width: 100%;
    border-radius: 10px;

}

.facility-col h3 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 15px;

}

/* ----------------------testimonials------------------------------- */
.testimonials {
    text-align: center;
    margin: auto;
    padding-top: 100px;
    width: 80%;
}

.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}

.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    text-align: left;
    margin-top: 15px;
}

.fa-solid {
    color: #f44336;

}

@media(max-width:700px) {
    .testimonials-col img {

        margin-left: 0px;
        margin-right: 15px;

    }
}

.cta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/banner2.jpg);
    margin: 100px auto;
    width: 80%;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    background-position: center;

    padding: 100px 0;

}

.cta h1 {
    color: #fff;
    padding: 0;
    margin-bottom: 40px;

}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* ----------------------------------------------------footer---------------------------------- */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.icons .fa-brands {
    margin: 0 13px;
    cursor: pointer;
    color: #f44336;
    padding: 18px 0;

}

.fa-heart {
    color: #f44336;
}

/* -----------------------------about us bage--------------------------------- */
.sub-header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    color: #fff;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;


}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.redbtn {
    color: #f44336;
    border: #f44336 solid 1px;
    text-transform: uppercase;
}

.redbtn:hover {
    color: #fff;
}

/* -----------------------------blig ------------------------------ */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;


}

.blog-left img {
    width: 100%;
}

.blog-left h1 {
    color: #222;
    font-weight: 600;
    padding: 30px 0;
}

.blog-left p {
    color: #999;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;

}

.blog-right h3 {
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;

}

.blog-right div {
    display: flex;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 50px 0px;

}

.comment-box h3 {
    text-align: left;

}

.comment-form input,
.comment-form textarea {
    width: 100%;
    background: #f0f0f0;
    border: none;
    outline: none;
    padding: 1opx;
    margin: 15px 0;
    box-sizing: border-box;
}

.comment-form button {
    margin: 10px 0;
}


@media(max-width:700px) {
    .sub-header h1 {
        font-size: 24ox;

    }
}

/* ------ sklaha wehesh ayza ttzappat------------- */